<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Passion: Required
            <br/>
            Hackers: Wanted
        </h2>
        <p>
            Persue your passion for Technology with us at the CCT!
        </p>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/Campus_Aerial.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/Campus_Aerial.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/Campus_Aerial.webp" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>