---
title: 'CCT Events'
description: 'Events happening at the CCT'
preloadImg: '/assets/images/Campus_Aerial.webp'
permalink: 'events/'
eleventyNavigation:
    key: Events
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/events.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Events</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Campus_Aerial.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/Campus_Aerial.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/Campus_Aerial.webp" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

<!-- ============================================ -->
<!--                   Events                     -->
<!-- ============================================ -->

<section id="events-1649">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Group_ReSi_1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Group_ReSi_1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/Group_ReSi_1.webp" alt="busines meeting" width="522" height="609" aria-hidden="true">
            </picture>
            <div class="cs-text-wrapper">
                <span class="cs-topper">Our Events</span>
                <h2 class="cs-title">Upcoming Events</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-date">
                    <strong>6</strong>
                    Nov
                </span>
                <div class="cs-info-wrapper">
                    <div class="cs-info">
                        <h3 class="cs-h3">Beekmantown Central School</h3>
                        <span class="cs-location">37 Eagle Way, Plattsburgh, NY 12901</span>
                        <span class="cs-time">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">
                            10:40AM - 01:10PM
                        </span>
                    </div>
                    <div class="cs-button-wrapper">
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-date">
                    <strong>22</strong>
                    Oct
                </span>
                <div class="cs-info-wrapper">
                    <div class="cs-info">
                        <h3 class="cs-h3">To Be Determined</h3>
                        <span class="cs-location">Nowhere Ave.</span>
                        <span class="cs-time">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">
                            12:00AM - 02:00PM
                        </span>
                    </div>
                    <div class="cs-button-wrapper">
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-date">
                    <strong>20</strong>
                    Oct
                </span>
                <div class="cs-info-wrapper">
                    <div class="cs-info">
                        <h3 class="cs-h3">To Be Determined</h3>
                        <span class="cs-location">Nowhere Ave.</span>
                        <span class="cs-time">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">
                            12:00AM - 02:00PM
                        </span>
                    </div>
                    <div class="cs-button-wrapper">
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </div>
                </div>
            </li>
        </ul>
    </div> 
</section>



    {% include 'components/cta.html' %}

{% endblock %}